{% extends "../sub_base.html" %}
{% block title %}Register Account{% endblock %}
{% block sub_content %}
<style>
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-label {
  font-weight: bold;
}

.form-text {
  color: #6c757d;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.btn-register {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #333333;
}

.btn-login {
  color: #000000;
  font-weight: bold;
}

.btn-login:hover {
  text-decoration: underline;
}
</style>

<div class="card">
  <div class="card-header">
    Create an account
  </div>
  <div class="form-wrapper">
    <form class="account-form" action="." method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">{{ form.user_name.label }}<span class="text-muted small">(Required)</span></label>
        {{ form.user_name }}
      </div>
      <div class="mb-3">
        <label class="form-label">{{ form.email.label}}<span class="text-muted small">(Required)</span></label>
        {{ form.email }}
      </div>
      <div class="mb-3">
        <label class="form-label">{{ form.password.label}}<span class="text-muted mb-4"></span></label>
        <small class="form-text text-muted mb-4 small">At least 8 characters and 1 digit</small>
        {{ form.password }}
      </div>
      <div class="mb-3">
        <label class="form-label">{{ form.password2.label}}<span class="text-muted small">(Required)</span></label>
        {{ form.password2 }}
      </div>
      <button class="btn btn-register mb-4" type="submit">Register</button>
      <p class="text-center">
        Already have an account? <a href="{% url "account:login" %}" class="btn-login">Sign in</a>
      </p>
    </form>
  </div>
</div>

{% endblock %}
