/* Bootstrap Over-ride */
@media (min-width: 1000px){
    .container{
        max-width: 1000px;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 100%;
        padding:0 24px;
    }
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    top:58px;
    left:0px;
    padding:10px;
}

.alert-primary{
    background-color: #E4F1FF;
}


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html, body, p, div{
    letter-spacing: -0.02px;
    font-family: 'Roboto', sans-serif;
}
.fs12{
    font-size: 12px;
}
.fs15{
    font-size: 0.9375rem;
}

.fw300{
    font-weight: 300;
}
.fw500{
    font-weight: 500;
}

/* Add gradient background to navbar */
.navbar {
    background: linear-gradient(to right, #c6cacf, #172b4d);
    border-bottom: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add border-radius for rounded edges */
    color: #FFF; 
  }
  
  /* Remove border and background color from navbar-toggler */
  .navbar-toggler {
    color: #FFF;
    border: none;
    background-color: transparent;
  }
  
  /* Add gradient color to navbar-brand */
  .navbar-brand svg path {
    color: #000000;
    fill: linear-gradient(to right, #FFCA28, #FF5722);
  }
  
  /* Add gradient color to navbar-link */
  .navbar-nav .nav-link {
    color: #FFF;
    color: linear-gradient(to right, #333, #FFF);
    border-radius: 10px; /* Add border-radius for rounded edges */
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
  }
  
  /* Add hover effect to navbar-link */
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #d42114;
    background-color: transparent;
  }
  
  /* Add gradient color to dropdown-toggle */
  .dropdown-toggle::after {
    color: #FFF;
    display: none;
    background: linear-gradient(to right, #333, #172b4d);
  }
  
  /* Add gradient color to dropdown-item */
  .dropdown-menu .dropdown-item {
    color: #FFF;

    background: linear-gradient(to right, #fff, #172b4d);
    border-radius: 10px; /* Add border-radius for rounded edges */
  }
  
  /* Add hover effect to dropdown-item */
  .dropdown-menu .dropdown-item:hover,
  .dropdown-menu .dropdown-item:focus {
    color: #FFF;
    background-color: #172b4d;
  }
  
  /* Add gradient color to basket-btn */
  .basket-btn {
    color: #fff;
    background: linear-gradient(to right, #fff, #768eb8);
    border: none;
    border-radius: 10px; /* Add border-radius for rounded edges */
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
  }
  
  /* Add hover effect to basket-btn */
  .basket-btn:hover,
  .basket-btn:focus,
  .basket-btn:active,
  .basket-btn.active {
    color: #d42114;
    background-color: #fff;
  }
  
  .basket-qty {
    background: linear-gradient(to right, #8aafef, #172b4d);
    border-radius: 10px; /* Adjust the border-radius value for rounded edges */
    width: 40px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
  }
  

  /* Footer */
/* Update background color and styling for footer */
body {
    margin: 0; /* Remove default body margin */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body covers the full height of the viewport */
  }
  
  html {
    height: 100%; /* Make sure the html element covers the full height of the viewport */
  }
  
.footer {
  background: linear-gradient(to right, #c6cacf, #172b4d);
  border-radius: 15px;
  padding: 10px 20px; /* Update the padding values */
  color: #ffffff; /* Set text color to white */
  text-align: center; /* Center align the content */
  width: 100%; /* Make the footer cover the width of the screen */
  box-sizing: border-box; /* Include padding in the width calculation */
}
  
  /* Update styling for footer list items */
  .footer > div > div > ul > li {
    padding: 8px 12px;
    border-radius: 10px; /* Make the list items round */
    background-color: #172b4d; /* Update the background color */
    color: #ffffff; /* Set text color to white */
    margin-bottom: 10px; /* Add separation between the list items */
  }
  

/* Update color of text inside the footer list items */
.footer > div > div > ul > li a {
    color: #ffffff;
  }
  
  /* Add hover effect to footer list items */
  .footer > div > div > ul > li:hover {
    background-color: #0e2036; /* Update the hover background color */
  }
  