{% extends "../sub_base.html" %}
{% block title %}Users Wish List{% endblock %}

{% block sub_content %}
<div class="col-12 mx-auto">
  <h1 class="h3">My Wishlist</h1>
  <div>Manage your Wishlist</div>
  <hr />

  {% if wishlist %}
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for product in wishlist  %}
    <div class="col">
      <div class="card h-100">
        <div class="row g-0">
          <div class="col-md-4">
            {% for image in product.product_image.all  %}
              {% if image.is_feature %}
              <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text"><small class="text-muted">{{product.regular_price}}</small></p>
              <a type="button" class="btn btn-primary fw500 btn-sm" href="{% url 'account:user_wishlist' product.id %}">Remove from Wishlist</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="card-text">No products have been added to your wishlist yet</p>
  {% endif %}

</div>
<div style="margin-top: 250px;"></div>
{% endblock %}
